@import '@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */



:root {
--font-sans: ''
}

:root {
--background: 0deg 0% 100%;
--foreground: 0deg 0.02% 3.94%;
--card: 0deg 0% 100%;
--card-foreground: 0deg 0.02% 3.94%;
--popover: 0deg 0% 100%;
--popover-foreground: 0deg 0.02% 3.94%;
--primary: 0deg 0.02% 9.06%;
--primary-foreground: 0deg 0.5% 98.03%;
--secondary: 0deg 0.24% 96.06%;
--secondary-foreground: 0deg 0.02% 9.06%;
--muted: 0deg 0.24% 96.06%;
--muted-foreground: 0deg 0.01% 45.16%;
--accent: 0deg 0.24% 96.06%;
--accent-foreground: 0deg 0.02% 9.06%;
--destructive: 351.72deg 100% 40.53%;
--border: 0deg 0.09% 89.82%;
--input: 0deg 0.09% 89.82%;
--ring: 0deg 0.02% 63.02%;
--radius: 0.625rem;
}

:root.dark {
--background: 0deg 0.02% 3.94%;
--foreground: 0deg 0.5% 98.03%;
--card: 0deg 0.02% 9.06%;
--card-foreground: 0deg 0.5% 98.03%;
--popover: 0deg 0.02% 9.06%;
--popover-foreground: 0deg 0.5% 98.03%;
--primary: 0deg 0.09% 89.82%;
--primary-foreground: 0deg 0.02% 9.06%;
--secondary: 0deg 0.01% 14.94%;
--secondary-foreground: 0deg 0.5% 98.03%;
--muted: 0deg 0.01% 14.94%;
--muted-foreground: 0deg 0.02% 63.02%;
--accent: 0deg 0% 14.9%;
--accent-foreground: 0deg 0.5% 98.03%;
--destructive: 358.76deg 100% 69.84%;
--border: 0deg 0% 13.73%;
--input: 0deg 0% 18.43%;
--ring: 0deg 0.01% 45.16%;
}

@layer base {
* {
@apply border-border;
}
}




:root .theme-slate {
--background: 0deg 0% 100%;
--foreground: 228.82deg 85.15% 5%;
--card: 0deg 0% 100%;
--card-foreground: 228.82deg 85.15% 5%;
--popover: 0deg 0% 100%;
--popover-foreground: 228.82deg 85.15% 5%;
--primary: 222.33deg 49.39% 11.3%;
--primary-foreground: 344.69deg 27.87% 98.13%;
--secondary: 344.79deg 33.25% 96.34%;
--secondary-foreground: 222.33deg 49.39% 11.3%;
--muted: 344.79deg 33.25% 96.34%;
--muted-foreground: 215.37deg 18.38% 47.03%;
--accent: 344.79deg 33.25% 96.34%;
--accent-foreground: 222.33deg 49.39% 11.3%;
--destructive: 351.72deg 100% 40.53%;
--border: 214.19deg 33.11% 91.43%;
--input: 214.19deg 33.11% 91.43%;
--ring: 214.97deg 22.62% 64.51%;
--radius: 0.625rem;
}

:root.dark .theme-slate {
--background: 228.82deg 85.15% 5%;
--foreground: 344.69deg 27.87% 98.13%;
--card: 222.33deg 49.39% 11.3%;
--card-foreground: 344.69deg 27.87% 98.13%;
--popover: 222.33deg 49.39% 11.3%;
--popover-foreground: 344.69deg 27.87% 98.13%;
--primary: 214.19deg 33.11% 91.43%;
--primary-foreground: 222.33deg 49.39% 11.3%;
--secondary: 217.27deg 36.08% 17.54%;
--secondary-foreground: 344.69deg 27.87% 98.13%;
--muted: 217.27deg 36.08% 17.54%;
--muted-foreground: 214.97deg 22.62% 64.51%;
--accent: 217.27deg 36.08% 17.54%;
--accent-foreground: 344.69deg 27.87% 98.13%;
--destructive: 358.76deg 100% 69.84%;
--border: 0deg 0% 13.73%;
--input: 0deg 0% 18.43%;
--ring: 219.99deg 10.27% 46.3%;
}

@layer base {
* {
@apply border-border;
}
}